<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.nexttecnology.cordova" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>EspTouch</name>
  <js-module name="EspTouch" src="www/EspTouch.js">
    <clobbers target="cordova.plugins.EspTouch" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="EspTouch">
        <param name="android-package" value="com.nexttecnology.cordova.EspTouch" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/EspTouch.java" target-dir="src/com.nexttecnology.cordova/EspTouch" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="EspTouch">
        <param name="ios-package" value="EspTouch" />
      </feature>
    </config-file>
    <source-file src="src/ios/EspTouch.m" />
  </platform>
</plugin>
